@media(min-width:576px){
    .demo{
        background-color: indianred;
        width: 100%;
        height: 200px;
    }
}
@media(max-width:576px){
    .demo{
        background-color: blue;
        width: 50%;
        height: 200px;
    }
}